Repository ansible-collections/community.network, pull requests merged in 2021-12, with the labels that each got.

#103 nclu: Add support for check_mode and --diff
  103-nclu-check-diff.yaml
  plugins/modules/network/cumulus/nclu.py
  tests/unit/plugins/modules/network/cumulus/test_nclu.py
Labels: needs_ci, new_contributor, feature, module, plugins, affects_2.10

#218 fixed: variable 'rsp' referenced before assignment
  plugins/modules/network/avi/avi_useraccount.py
Labels: bug, needs_ci, new_contributor, module, plugins, small_patch, affects_2.10, community_review, python3, traceback

#110 Fix exos_config:save_when when a stopped process is present
  changelogs/fragments/110-fix-exos-save-config.yaml
  plugins/modules/network/exos/exos_config.py
Labels: bug, needs_ci, new_contributor, module, plugins, affects_2.10, community_review

#56 cloudengine: Modify the bug in the query configuration method
  changelogs/fragments/56-ce_modify_query_configuration_method.yml
  plugins/modules/network/cloudengine/ce_rollback.py
Labels: bug, needs_ci, new_contributor, module, plugins, affects_1, community_review, needs_triage

#316 Add support decode bitmap for ce_switchport module
  changelogs/fragments/315_add_support_decode_bitmap_for_ce_switchport_module.yaml
  plugins/modules/network/cloudengine/ce_switchport.py
Labels: needs_ci, feature, module, plugins

#326 declaring type in docs to match argspec
  plugins/modules/network/edgeos/edgeos_config.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
Labels: needs_ci, needs_revision, new_contributor, module, plugins, docs
